.site-about {
  padding: 0 1rem;

  .css-1ggg8my {
    span {
      font-size: 1rem;
    }
  }

  .about-me {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
  }

  .left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    b {
      font-size: 1.1rem;
      display: block;
    }
  }

  // my portrait
  .portrait {
    width: 200px;
    display: block;
    border-radius: 50%;
    border: 3px solid black;
  }

  .chakra-accordion__item {
    line-height: 1.5;
    button {
      max-width: 500px;
      margin: 0 auto;
      background-color: transparent;
      font-size: 1.5rem;
      border: 1px solid black;
      font-weight: 500;
      cursor: pointer;
      color: inherit;
      -webkit-appearance: none;
    }
  }

  .chakra-collapse {
    margin: 0 2rem;
    p {
      margin: 1rem 0;
    }
    li {
      list-style-type: square;
    }
  }

  .about-images {
    border: 2px solid black;
  }

  @media screen and (min-width: 768px) {
    .about-me {
      flex-direction: row;
      align-items: flex-start;
      gap: 1.5rem;
    }
    .portrait {
      width: 340px;
    }
    .left {
      align-items: center;
    }
    .about-images {
      width: 49%;
      height: 240px;
      object-fit: cover;
      margin-right: 1px;
    }
  }
}
