.site-about {
  padding: 0 1rem;

  h1 {
    margin-top: 5rem;
  }
  // my portrait
  .wp-image-151 {
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    border: 3px solid black;
    width: 200px;
    margin-bottom: 1rem;
  }

  .chakra-accordion__item {
    line-height: 1.5;
    button {
      background-color: transparent;
      border: none;
      border-top: 2px solid #cdd6e2;
      border-radius: 0.375rem;
      display: flex;
      font-size: 1.2rem;
      font-weight: 500;
      justify-content: space-between;
      padding: 1rem;
      cursor: pointer;
      &:hover {
        border-color: #cd669a;
      }
    }
  }

  .chakra-collapse {
    p {
      margin: 1rem 0;
    }
    li {
      list-style-type: square;
    }
  }

  .about-images {
    width: 290px;
    margin-right: 1px;
    border: 2px solid black;
  }
}
