/* 
 * inspiration: https://www.tiktok.com/@codetheworld.io/video/7299693222106877191?_r=1&_t=8lG6ohYt5tNz
 */

.digital-clock {
  margin: 0 2rem;
  max-width: 21.8rem;
  background-color: black;
  color: white;
  display: flex;
  border-radius: 2rem;
  user-select: none;
  padding: 0 2rem;
  border: 0.5rem solid #2d2d2d;
}

.week {
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3d3d3d;
  font-weight: bold;
  font-size: 0.6rem;
}

.week .active {
  color: #ff0098;
}

.hour,
.min,
.dot {
  display: inline-block;
  font-size: 5rem;
}

.min {
  display: math;
}

.invisible {
  visibility: hidden;
}

@media only screen and (max-width: 768px) {
  .digital-clock {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .hour,
  .min,
  .dot {
    font-size: 4rem;
  }
  .week {
    font-size: 0.5rem;
  }
}
