.site-hero {
  max-width: auto;
  .site-hero__content {
    margin: 0.5rem 0.5rem;
    text-align: right;
    .intro {
      margin-right: 1rem;
      font-size: 1.5rem;
      font-weight: 400;
    }
    h1 {
      font-size: 3rem;
      font-weight: 700;
      letter-spacing: 0.05rem;
      border-bottom: 2px solid #d81778;
    }
    h2 {
      padding-top: 0.4rem;
      font-size: 2rem;
      font-weight: 600;
    }
    .qualification {
      margin: 0;
      padding: 0.5rem 0 0 0.5rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .site-hero {
    margin-top: 5rem;
    span {
      font-size: 3rem;
    }
    img {
      max-width: 400px;
    }
  }
}

// .site-hero__logo {
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
//   display: flex;
//   justify-content: flex-start;
//   span {
//     display: block;
//     color: #d81778;
//     font-size: 2rem;
//     font-weight: 600;
//   }
//   .opening {
//     margin: 0 0.5rem 0 0;
//   }
//   .closing {
//     margin: 0 0 0 0.5rem;
//   }
//   img {
//     width: 75%;
//     object-fit: contain;
//   }
// }
