.site-portfolio {
  padding: 0 1rem;
  .portfolio-container {
    display: block;
    .portfolio-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 300px;
        height: 200px;
      }
      h2 {
      }
      p {
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .site-portfolio {
    .portfolio-container {
      display: flex;
      .portfolio-item {
      }
    }
  }
}
