.stack {
  padding: 0 1rem;
  .skills-container-parent {
    .skills-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .skill-item {
        display: flex;
        img {
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          width: 57px;
          border-bottom: 2px solid black;
        }
      }
    }
  }
}

// .skill-content {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;

//   .skill-title {
//     margin: 0;
//     font-size: 1.2rem;
//     font-weight: bold;
//   }

//   .skill-description {
//     margin: 0;
//     font-size: 1rem;
//   }
