.stack {
  padding: 0 1rem;
  .skills-container-parent {
    .skills-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      .skill-item {
        img {
          width: 55px;
        }
      }
    }
  }
}

// .skill-content {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;

//   .skill-title {
//     margin: 0;
//     font-size: 1.2rem;
//     font-weight: bold;
//   }

//   .skill-description {
//     margin: 0;
//     font-size: 1rem;
//   }
